<div class="view-heading pure-u-1-1">
    <div class="text bolt-light">Add Lawyer</div>
    <div class="breadcrumb flat bolt-light">
      {{#link-to  'suits' activeClass=""}}
          Home
      {{/link-to}}
      {{#link-to  'suits' activeClass=""}}
          Suits
      {{/link-to}}
      {{#link-to  'suits.new' activeClass=""}}
          New Suit
      {{/link-to}}
      {{#link-to  'suits.plaintiffs' activeClass=""}}
          Add Plaintiff
      {{/link-to}}
      {{#link-to  'suits.addlawyer'}}
          Add Lawyer
      {{/link-to}}
    </div>
</div>
<div class="submenu-box pure-u-4-24" style="border: 0px solid red">
  {{suit-detail newSuit=newSuit defendants=newDefendantArray plaintiffs=newPlaintiffArray lawyers=lawyersArray}}
</div>
<div class="middle-box pure-u-19-24">
    <div class="wraps">
        <section class="section-form">
            <div class="coa"> <img src="/assets/images/coasmall.jpg"></div>
            <form name="signup" class="form" id="addLawyer" novalidate>
                <div class="pure-g">
                    <div class="form-group pure-u-6-24">
                        <label for="name" class="form-label form-label--required">
                            Lawyer Name:
                        </label>
                        <div class="form-addon">
                            <div class="form-addon__addon">
                                <i class="fa fa-clone"></i>
                            </div>
                          {{input type="text" required="true" class="form-input" value=lawyerInfo.lawyerName
                          placeholder="Name"}}
                        </div>
                    </div>
                    <div class="form-group pure-u-6-24">
                        <label for="name" class="form-label form-label--required">
                            Lawyer type :
                        </label>
                        <div class="form-addon">
                          {{view "select" content=lawyerType  required="true" value=lawyerInfo.lawyerType}}
                        </div>
                    </div>
                    <div class="form-group form-group pure-u-6-24">
                        <label for="date" class="form-label ">
                            Email :
                        </label>
                        <div class="form-addon">
                          {{input type="email" required="true" class="form-input" value=lawyerInfo.lawyerEmail
                          placeholder="email"}}
                        </div>
                    </div>
                    <div class="form-group pure-u-6-24">
                        <label for="name" class="form-label form-label--required">
                            Lawyer Address :
                        </label>
                        <div class="form-addon" data-states-for="name">
                            <div class="form-addon__addon">
                                <i class="fa fa-home"></i>
                            </div>
                          {{input type="text" required="true" class="form-input" value=lawyerInfo.lawyerAddress
                          placeholder="Address"}}
                        </div>
                    </div>
                    <div style="margin-right: 50px"  class="form-group form-group pure-u-6-24">
                        <label for="date" class="form-label form-label--required">
                            Phone Number 1:
                        </label>
                        <div class="form-addon" data-states-for="name">
                            <div class="form-addon__addon">
                                +233
                            </div>
                          {{input type="number" required="true" class="form-input" value=lawyerInfo.lawyerContact1
                          placeholder="mobile"}} </div>
                    </div>
                    <div class="form-group form-group pure-u-6-24">
                        <label for="date" class="form-label ">
                            Phone Number 2:
                        </label>
                        <div class="form-addon" data-states-for="name">
                            <div class="form-addon__addon">
                               +233
                            </div>
                          {{input type="number" class="form-input" value=lawyerInfo.lawyerContact2
                          placeholder=""}}
                        </div>
                    </div>

                    <div class="form-footer__cta" style="margin-bottom: 10px">

                        <button {{action "addAnother"}} class="button">Add </button>
                        <button {{action "goBack"}} class="button">Back</button>
                        <button {{action "proceed"}} class="button">Proceed</button>
                    </div>

                </div>
                <div class="pure-u-1-1">
                    <table class="pure-table pure-table-striped">
                        <thead>
                        <tr>
                            <th>Lawyer Name</th>
                            <th>Lawyer Type</th>
                            <th>Lawyer Email</th>
                            <th>Lawyer Address</th>
                            <th>Phone Number 1</th>
                            <th>Phone Number 2</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        {{#each lawyersArray}}
                            <tr>
                                <td>{{this.lawyerName}}</td>
                                <td>{{this.lawyertype}}</td>
                                <td>{{this.lawyerEmail}}</td>
                                <td>{{this.lawyerAddress}}</td>
                                <td>{{this.lawyerContact1}}</td>
                                <td>{{this.lawyerContact2}}</td>
                                <td><i {{action "removeOne" this.index }}class="fa fa-times-circle"></i></td>
                            </tr>
                        {{/each}}

                        </tbody>
                    </table>
                </div>




            </form></section>
    </div>

</div>

