<div class="view-heading pure-u-1-1">
    <div class="text bolt-light">Court Cases</div>
    <div class="breadcrumb flat bolt-light">
      {{#link-to  'portal' activeClass=""}}
          Home
      {{/link-to}}
      {{#link-to  'portal.courtcases'}}
          Court Case
      {{/link-to}}
    </div>
</div>
<div class="submenu-box pure-u-sm-1-1 pure-u-lg-5-24 pure-u-md-5-24" >
    <div class="item">
        <div {{action "createNew"}} class="item-text bolt-light"> Court Of Appeals</div><br>

    </div>
    <div class="item">
        <div {{action "manage"}} class="item-text bolt-light">High Court</div><br>

    </div>
    <div class="item">
        <div {{action "view"}} class="item-text bolt-light">Supreme Court</div><br>

    </div>
</div>
<div class="middle-box  pure-u-sm-1-1 pure-u-lg-18-24 pure-u-md-18-24">
<br>

    <div class="form-group pure-u-sm-5-5 pure-u-lg-6-24 pure-u-md-6-24">
        <label>Sort</label>
        <div class="form-addon">
          {{view "select"  optionValuePath="content.id"
          optionLabelPath="content.txt" content=sortOrder selection=sortValue}}
        </div>
    </div>
<br>
  <div class="pure-u-1-1">
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Suit Number</th>
            <th>Title</th>
            <th>Presiding judge</th>

        </tr>
        </thead>

        <tbody>
        {{#each suitsArray}}
            <tr class="bolt-light">
                <td>{{this.datefiled}}</td>
                <td>{{this.suitnumber}}</td>
                <td>{{#link-to "portal.documents" (query-params suitid=suitnumber)}}{{this.title}}{{/link-to}}</td>
                <td>{{this.suitJudge}}</td>
                <td>{{this.suitstatus}}</td>

            </tr>
        {{/each}}

        </tbody>
    </table>
  </div>
</div>
